<% @title=" - Details" %>
<h2>Details</h2>
<p>Nachname: <%= @player.name %></p>
<p>Vorname: <%= @player.forename %></p>
<p>Kommentar: <%= @player.comment %></p>
<p>Erstellt am: <%= @player.created_at %></p>
<p>Geändert am: <%= @player.updated_at %></p>
<br><br>
<p><%= back_to_list %>></p>